{% extends "base.html" %}

{% block content %}
  <div class="card-deck justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h1>{{ product.name }}</h1>
          <p>Es electrónico: {% if product.es_electro %}SI{% else %}NO{% endif %}</p>
          <p>Descuento por empleado: {% if product.es_empleado %}SI{% else %}NO{% endif %}</p>
          <p>Precio Final: {{ product.precio_venta }}</p>
          {% if product.cupon.len %}
            {% if product.cupon_valido %}
              <p>Cupón: {{ product.cupon }}</p>
              <p>Descuento Cupón: {{ product.cupon_descuento }}</p>
            {% else %}
              <p>El cupón provisto es inválido, esto impactará en el precio de venta donde no se aplicará el descuento de tal cupón</p>
            {% endif %}
          {% endif %}
          <form method="post" action="{% url 'productBuyConfirm' %}">
            {% csrf_token %}
            <input type="hidden" value="{{ product.case_id }}" name="case_id" />
            <button type="submit" class="btn btn-primary">Confirmar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
