{% extends "base.html" %}

{% block content %}

{% if cart|length %}
<div class="alert alert-success">
  <p>Existen compras sin confirmar. Confirme <a href="{% url 'cart' %}">aquí</a>
</div>
{% endif %}

<div class="card-deck justify-content-center">
  {% for product in products %}
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">
            $ {{ product.saleprice }}
          </p>
          <form method="post" action="{% url 'productBuy' %}">
            {% csrf_token %}
            <input type="hidden" value="{{ product.id }}" name="product_id" />
            <div class="form-group">
              <input type="text" name="coupon" class="form-control" placeholder="Ingrese cupón (Opcional)">
            </div>
            <button type="submit" class="btn btn-primary">Comprar</button>
          </form>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
